#appimage { position: relative; top: 0px; left: 0px; border: 2px solid #333; }

		#options1{
			position:absolute;
			width:32px;
			height:30px;
			top:50px;
			left:18px;
		/*border:1px solid red;*/
		}
		#options2{
			position:absolute;
			width:80px;
			height:30px;
			top:130px;
			left:310px;
		/*border:1px solid red;*/
		}
		#tutorial{
			position:absolute;
			width:150px;
			height:40px;
			top:-90px;
			left:200px;
		/*border:1px solid red;*/
		}
		#home{
			position:absolute;
			width:160px;
			height:25px;
			top:200px;
			left:370px;
		/*border:1px solid red;*/
		}
		#map{
			position:absolute;
			width:160px;
			height:25px;
			top:30px;
			left:0px;
		/*border:1px solid red;*/
		}
		#tables{
			position:absolute;
			width:160px;
			height:25px;
			top:30px;
			left:0px;
		/*border:1px solid red;*/
		}
		#additional{
			position:absolute;
			width:160px;
			height:25px;
			top:30px;
			left:0px;
		/*border:1px solid red;*/
		}
		#list{
			position:absolute;
			width:200px;
			height:250px;
			top:215px;
			left:795px;
		/*border:1px solid red;*/
		}
		#opacity{
			position:absolute;
			width:200px;
			height:30px;
			top:-35px;
			left:5px;
		/*border:1px solid red;*/
		}
		#map{
			position:absolute;
			width:438px;
			height:300px;
			top:0px;
			left:-440px;
		/*border:1px solid red;*/
		}
		#table{
			position:absolute;
			width:600px;
			height:200px;
			top:275px;
			left:355px;
		/*border:1px solid red;*/
		}
		#edit{
			position:absolute;
			width:60px;
			height:60px;
			top:140px;
			left:575px;
		/*border:1px solid red;*/
		}
		#search{
			position:absolute;
			width:400px;
			height:50px;
			top:-240px;
			left:-570px;
		/*border:1px solid red;*/
		}
		#one{
			position:absolute;
			width:200px;
			height:200px;
			top:245px;
			left:375px;
		/*border:1px solid red;*/
		}
		#two{
			position:absolute;
			width:200px;
			height:200px;
			top:0px;
			left:200px;
		/*border:1px solid red;*/
		}
		#three{
			position:absolute;
			width:200px;
			height:200px;
			top:0px;
			left:230px;
		/*border:1px solid red;*/
		}


		.introjs-helperLayer {
  background-color: rgba(255,255,255,.5);
}
